.button {
  padding: 2rem 3rem;
  background-color: var(--primary-black);
  color: var(--secondary-button-txt);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  z-index: 9999;
  transition: transform 0.3s ease;
}
.button:hover {
    transform: scale(1.1);
}
