.portfolioContentContainerNonEdit {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.portfolioContentContainerEdit {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.portfolioContentContainerNonEdit h3,
.portfolioContentContainerEdit h3 {
  font-size: 1.6rem;
}
.highlightTxt {
  color: var(--primary-green);
}
.cardsWrapper {
  display: flex;
  justify-content: space-between;
  row-gap: 10rem;
  flex-wrap: wrap;
}
.cardsWrapper a {
  position: relative;
  display: block;
  width: 50rem;
  height: 35rem;
  perspective: 1000px; /* gives the 3D depth */
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* allow both sides to be visible */
  transition: transform 0.6s;
}

.cardsWrapper a:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hide the reverse side */
  top: 0;
  left: 0;
}

.cardBack {
  transform: rotateY(180deg);
  background: var(--primary-black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 2rem;
  gap: 2rem;
  line-height: 2.5rem;
}
.cardBack h4 {
  font-size: 2rem;
}
.cardsWrapper img {
  width: 100%;
  height: 100%;
}
.projectDescription {
  position: absolute;
  top: 50%;
  left: 50%;
}
.form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.label {
  font-size: 1.4rem;
  margin-right: 2rem;
}
.input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 70%;
}
.input[type="number"] {
  width: 16rem;
}
