.portfolioList,
.portfolioList li {
  display: flex;
  gap: 2rem;
}
.portfolioList {
  font-size: var(--txt-fs);
  flex-direction: column;
  margin-top: 5rem;
}
.contactList {
  font-size: var(--txt-fs);
  flex-direction: column;
  display: flex;
  gap: 2rem;
}
.menuExpandedInfoItem,
.menuCollapsedInfoItem {
  position: relative;
  padding-bottom: 2rem;
  cursor: pointer;
}
.menuExpandedInfoItem::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--primary-green);
  transition: width 0.3s ease;
}
.menuExpandedInfoItem:hover::after {
  width: 80%;
}
.menuExpandedInfoItem:hover {
    cursor: pointer;
}
.contactDesc {
  font-weight: 700;
}
.contactItem {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contactItem p {
  display: flex;
  flex-direction: column;
}
.devInfoListLink:hover {
  text-decoration: none;
}